@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    background: #eee;
    margin: 3em 8em;
    font: Source Sans Pro;
}

.newspaper-container{
    background: white;
    width: 700px;
    border-radius: 10px 10px;
    box-shadow: #ddd;
    padding: 5em;

}

main > p{
    text-align: justify;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font: Abril Fatface;
}

li{
    list-style: none;
    display: inline-block;
    padding: 0.10em;
    font-size: 15px;
    }
a{
color: #777
 } 

.more-articles{
    padding: 1em;
    text-align: center;
    font: Roboto Slab;
}

.more-articles p{
    text-align: justify;
    width:90%;
}

a{
    text-decoration: none;
}

img{
    display: block;
    
}

h4{
    text-align: left;
}

nav{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background: white;
    position: sticky;
    top: 1em;
}

.more-articles > section{
    display: inline-block;
    width: 49%;
}
